*.exe
*.dll
*.msi
*.zip
*.suo

/.vs/
/.tx/

/LocalizationPack/**/*.resx
/LocalizationPack/**/*.pdf
/LocalizationPack/ZetaResourceEditor/

/TinyWall.suo
/TinyWall.v11.suo

/pylorak.Utilities/obj/
/pylorak.Utilities/bin/

/pylorak.Windows/obj/
/pylorak.Windows/bin/

/pylorak.Windows.Services/obj/
/pylorak.Windows.Services/bin/

/pylorak.Windows.WFP/bin/
/pylorak.Windows.WFP/obj/

/TinyWall.Core/bin/
/TinyWall.Core/obj/

/TinyWall.Core.Tests/bin/
/TinyWall.Core.Tests/obj/

/TinyWallService/bin/
/TinyWallService/obj/

/TinyWall.Avalonia/bin/
/TinyWall.Avalonia/obj/

/MsiSetup/obj/
/MsiSetup/bin/
/MsiSetup/Sources/ProgramFiles/
